nav {
  background-color: rgba(136, 16, 16, 0.644);
  display: flex;
  justify-content: space-between;
  padding: 1vh 38vw;
}

button {
  background-color: rgba(136, 16, 16, 0.644);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 1vh 2vw;
}

button:hover {
  background-color: rgba(63, 7, 7, 0.644);
}

button:active {
  background-color: rgba(63, 7, 7, 0.644);
}
